<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
        1) header 임포트
        2) 반복문을 통해서 전체회원 출력
    -->
    <%- include ("header") %>
    <h1>침팬지들 목록입니다.</h1>
    <table border="1">
        <tr>
            <th>아이디</th>
            <th>닉네임</th>
        </tr>
        <!--
            반복문을 활용하여 넘겨받은 데이터의 개수만큼 tr,td를 생성
            <tr>
                <td>넘겨받은 리스트의 인덱스의 id</td>
                <td>넘겨받은 리스트의 인덱스의 닉네임</td>
            </tr>
        -->
        <% userlist.forEach((item)=>{ %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.nick %></td>
            </tr>
        <% }); %>

        <% for(let i=0; i< userlist.length; i++){ %>
            <tr>
                <td><%=userlist[i].id %> </td>
                <td><%=userlist[i].nick%> </td>
            </tr>
        <% } %>
    </table>

</body>
</html>